  body,
  html {
    width: 100%;
    height: 100%;
    font-family: 'Quartzo', sans-serif;
      background: url(background3.jpg) no-repeat center center fixed; 
      background-blend-mode: lighten;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.container{

}

h1{
  color: white;
  font-size: 4rem;

}
/*hr is horizontal rule, or thematic break to divide or sep doc sections*/
hr {
    margin: 20px auto;
    color: #F05F44;
    border: 2px solid #F05F44;
    max-width: 65px;
    opacity: 1;  
}

.buffer {
  height: rem;
}

.btn{
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary{
  background-color: orange;
  border-color: orange;
  --bs-btn-hover-bg:darkorange;
  --bs-btn-hover-border-color: darkorange;
}

.btn-primary:hover {
  border-width: 4px;
}


.btn-xl{
  padding: 1rem 2rem;
}